<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gereciamento de departamentos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-hover">
              <button
                mat-raised-button
                class="btn btn-primary"
                (click)="adicionarDepartamento()"
              >
                Adcionar Departamento
              </button>
              <hr />
              <table class="table" style="width: 100%">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Nome</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let departamento of departamentos">
                    <td>
                      {{ departamento.id }}
                    </td>
                    <td>
                      {{ departamento.nome }}
                    </td>
                    <td style="float: right">
                      <button
                        class="btn btn-info"
                        (click)="editarDepartamento(departamento.id)"
                      >
                        Editar
                      </button>
                      <button
                        class="btn btn-danger"
                        (click)="removerDepartamento(departamento.id)"
                      >
                        Remover
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
